body {
  height: 100%;
  margin: 0;
  background-color: #f7f7f7;
}

h2 {
  font-weight: bolder;
}

h4 {
  font-size: 1.5rem;
  font-family: 'Montserrat', serif;
  color: #11999E;
  margin-bottom: 0;
}

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

.navbar {
  margin-bottom: 20px;
}

/* Title image screen */

.title {
  padding: 2.5% 7%;
  background-color: #cFFFFE;
}

.math-image {
  height: 100%;
  width: 100%;
}

.main-wrapper {
  border: 3px solid black;
}

.background-header {
  /* The image used */
  background-image: url("photographer.jpg");

  /* Add the blur effect */
  filter: blur(6px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 500px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-wrapper {
  position: relative;
}

/* Position text in the middle of the page/image */
.text-header {
  background-color: #CFFFFE;
  background-color: rgba(0,0,0, 0.4); /* Black see-through */
  color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #f1f1f1;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
}

.info-wrapper {
  width: 87%;
  box-shadow: 0 7px 5px 5px rgba(0,0,0, 0.4);
  margin: auto;
}

.about, .course, .research, .personal, .bake, .contact{
  text-align: center;
  padding: 1%;
  font-size: 2.2em;
  font-family: 'Montserrat', serif;
  color: #006a71;
}

/* Content in summary */
/* Main information and summary texts */

.Profile {
  padding: 1.5%;
  background-color: #FFF;
}

.description {
  width: 60%;
  margin: auto;
  text-align: left;
  font-family: 'Montserrat', serif;
  line-height: 2;
}

.summary-subtitle {
  font-size: 1.3rem;
}

/* Professor Dunbar image */
.prof-dunbar {
  float: right;
  margin-bottom: 20px;
}

@media (max-width: 568px) {
  .prof-dunbar {
    clear: left;
    margin-bottom: 20px;
  }
}

/* course list content  */
.course-info {
  width: 45%;
  margin: auto;
}
.course-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-item {
  font: 200 20px/1.5 "Montserrat", sans-serif;
  font-size: 1.4rem;
  border-bottom: 1px solid #ccc;
  padding: 1.5%;
}
.list-item:last-child {
  border: none;
}
.list-item:hover {
  font-size: 1.6rem;
}

.academic-section {
  background-color: #CFFFFE;
  padding: 2.5%;
}

/* Images for content in info-wrapper  */
.icon {
  width: 20%;
  margin-right: 30px;
  float: left;
}

/* Personal section  */
.personal-section {
  padding: 1.5%;
  background-color: #FFF;
}

.personal-info {
  width: 60%;
  margin: auto;
  text-align: left;
  font-family: 'Montserrat', serif;
  line-height: 2;
}

.personal-img {
  width: 60%;
  display: block;
  margin: 5% auto;
}

/* baking section  */

.baking-section {
  background-color: #CFFFFE;
  padding: 2%;
}

.baking-img {
  width: 20%;
  margin: 7%;
}

.baking-img.sizeUp {
  width: 35%;
}

/* Carousel styles  */

.carousel-item {
  text-align: center;
  padding: 0;
}

.carousel-control-prev {
  filter: invert(100%);
}

.carousel-control-next {
  filter: invert(100%);
}

.pie {
  width: 60%;
}

/* footer section */
.foot-wrapper {
  background-color: #292b2c;

  text-align: center;
  padding: 1rem;
}

.copyright {
  text-align: center;
  font-size: 0.75rem;
  font-family: 'Montserrat', serif;
  color: #F7f7F7;
}

.ico {
  color: #f7f7f7;
  margin: 0 1rem 10px;
}

/* contact-section */

.contact-info {
  text-align: center;
  font-family: 'Montserrat', serif;
  line-height: 2;
  margin-bottom: 4%;
}

/************************** */
/*            CEMC          */
/************************** */

.cemc-img {
  width: 30%;
  padding: 2%;
}

.cemc-title {
  text-align: center;
}

.cemc-info {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  width: 75%;
  margin: 2% auto;
}

/* cemc content section  */
.cemc-content {
  background-color: #fff;
  text-align: center;
  padding: 2% 7%;
}

/* cemc buttons  */
.cemc-btns {
  margin: 1rem 2rem;
}

/* ************CV************** */
.sidebar {
  height: 100%; /* Full-height: */
  width: 400px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 1; /* Stay at the top */
  right: 0;
  background-color: #f4f6ff; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  text-align: center;
}

.title {
  text-align: center;
}

.info {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  width: 75%;
  margin: 2% auto;
}
